@model int

<form method="post">
    <input type="hidden" name="inscripcion" value="@Model" />
    <h3>¿Seguro que quieres borrar el enfermo con inscripcion @Model?</h3>
    <button class="btn btn-danger">Si, borrar</button>
    <a asp-controller="Doctores" asp-action="Enfermos"
       class="btn btn-secondary">No, cancelar</a>
</form>