<h1>Log In</h1>

<h2 class="text-danger">@ViewData["MENSAJE"]</h2>

<form method="post">
    <label>Apellido</label>
    <input type="text" name="apellido" class="form-control" />
    <label>ID Doctor</label>
    <input type="text" name="iddoctor" class="form-control" />
    <button class="btn btn-primary mt-3 w-100">Login</button>
</form>